<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>提交待审核APP信息</title>
    <link rel="stylesheet" type="text/css" href="css/appsubmit.css"/>
    <!--<link rel="stylesheet" type="text/css" href="../static/css/appsubmit.css"/>-->
</head>
<body>
<h1>
    提交APP审核信息
</h1>

<form id="appsubmit_form" method="post">
    <div class="form-group">
        <label  class="t">&nbsp;产品&nbsp;ID：&nbsp;</label>
        <input id="info_appId" type="text" name="appId" class="data"  required>
    </div>
    <div class="form-group">
        <label  class="t">&nbsp;产品名称：&nbsp;</label>
        <input id="info_appName" value="" name="appName" type="text" class="data"  required>
    </div>
    <div class="form-group">
        <label  class="t">&nbsp;适用范围：&nbsp;</label>
        <select class="data" name="rangeApplication">
            <option value="基础共性工业APP">基础共性工业APP</option>
            <option value="行业通用工业APP">行业通用工业APP</option>
            <option value="企业专用工业APP">企业专用工业APP</option>
            <option value="其他工业APP">其他工业APP</option>
        </select>
    </div>

    <div class="form-group">
        <label  class="t">&nbsp;业务环节：&nbsp;</label>
        <select class="data" name="businessLink">
            <option value="研发设计工业APP">研发设计工业APP</option>
            <option value="生产制造工业APP">生产制造工业APP</option>
            <option value="运维服务工业APP">运维服务工业APP</option>
            <option value="经营管理工业APP">经营管理工业APP</option>
        </select>
    </div>

    <div class="form-group">
        <label  class="t">&nbsp;知识类型：&nbsp;</label>
        <select class="data" name="knowledgeType">
            <option value="业务信息化类">业务信息化类</option>
            <option value="数据分析类">数据分析类</option>
            <option value="知识建模类">知识建模类</option>
        </select>

    </div>
    <div class="form-group">
        <label  class="t">&nbsp;测评文件链接：</label>
        <input id="info_file" value="" name="testFile" type="text" class="data"  required>
    </div>


    <button type="submit" id="submit_btn"
            class="button-bar">&nbsp;提&nbsp;交&nbsp </button>

</form>

<button class="button-bar" onclick="location='/welcome'">&nbsp;返&nbsp;回&nbsp</button>


<p class="lead" th:text="${alertInfo}">alertInfo</p>

</body>
</html>